/****************************
         初始化
****************************/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
.container {
  width: 100%;
}
/*************************
         HEADER
*************************/
.header {
  width: 100%;
  background: url("../img/header-bg.png");
}
.menu-content {
  height: 5rem;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.menu-content .menu-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 192px;
  height: 21px;
  background: url("../img/logo_03.png");
}
.menu-content:before,
.menu-content:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.menu-ul {
  height: 100%;
  float: right;
}
.menu-ul li {
  float: left;
  margin: 0 0.625rem;
}
.menu-ul li a {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  padding: 0.6875rem 0.9375rem 0.625rem 0.8125rem;
  border-style: solid;
  background: #6e978e;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(82, 139, 134, 0.3);
}
