/****************************
         初始化
****************************/
@basefont:15;
@width:100%;
.borderd(@color:#f00){
  border: 1px solid @color;
}
.colord(@color:#000) {
  color: @color;
}
.bg-color(@color:#eee) {
  background: @color;
}
.font-size(@var:12px) {
  font-size:@var;
}
.clearfix {
  &:before,
  &:after{
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  height: @width;
  width: @width;
  font-size: @basefont;
}
.container {
  width: @width;
  height: @width;
}

/*************************
         HEADER
*************************/

.header {
  width: @width;
  .bg-color(#70C570);
  .borderd;
  padding: 1.4rem 0;
}
.menu-content {
  .colord(#fff);
  position: relative;
  width: @width * 0.8;
  // .borderd(#f0f);
  margin: 0 auto;
  .menu-logo {
    span:first-child {
      .font-size(2rem);
      font-weight: bold;
    };
    span:last-child {
      .font-size(1.7rem);
    };
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // .borderd(#0f0);
  }
  .clearfix;
}
.menu-ul {
  // .borderd(#000);
  height: 100%;
  float: right;
  li {
    float: left;
    margin: 0 .73rem;
    a {
      .font-size();
      font-weight: bold;
      .colord(#fff);
      display: inline-block;
      padding: .74rem .6rem .74rem .6rem;
      .bg-color(#5FA25D);
      border-radius: 5px;
      box-shadow: 0 3px 1px #4B8C4C;

    }
    .protfolio {
      
    }
  }
  li:hover>a {
    .bg-color(#E26C2C);
    box-shadow: 0 3px 1px #D85B2B;
  };
}